.container-fluid{
    background-attachment: fixed;
    background-image: url('../../assets/images/git.png');
    background-size: cover;
}
.btn{
    background-color: #f44336;
    font-size: 16px;
    padding: 14px 40px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.btn:hover{
    color: #f4f4f4;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}